@import 'colors';

body{background-color:#0029A3;}

@for $i from 1 through 3 {
    .box-#{$i} {
        height:200px;
        width:200px;
    }
}

@each $animal in puma, sea-slug, egret, salamander {
    .#{$animal}-icon {
        background-image: url('/images/#{$animal}.png');
    }
}

$type: puma;
p {
    @if $type == ocean {
        color: blue;
    } @else if $type == matador{
        color: red;
    } @else if $type == monster {
        color: green;
    } @else {
        color: black;
    }
}

.some-class {
  border: 1px solid #f00;
  background-color: #fdd;
}

.another-class{
  @extend .some-class;
  border-width: 3px;
}

main {
    height: 200px;

    h1 {
        color: #0705BB;
    }

    p {
        margin-bottom: 20px;
    }
    
    a {
        color: #004411;
        &:hover {
            text-decoration: none;
        }
    }
}

@mixin large-text {
    font: {
        family: Arial;
        size: 20px;
        weight: bold;
    }
}

p {
    @include large-text;
}

span {
    @include large-text
}

$colors: (
    default: #e2e9f0,
    primary: #456db8,
    success: #45b87b,
    info:    #324f88,
    warning: #fb8217,
    danger:  #fb4217
);

@each $key, $value in $colors {
    .color-#{$key} {
        color: $value;
    }
    .bg-color-#{$key} {
        background-color: $value;
    }
}

@function col($col) {
    @return map-get($colors, '#{$col}');
}

.some-class {
    color: col('primary')
}

@mixin sexy-border($width, $color: #12BBA8) {
    border: {
        color: col('info');
        width: $width;
        style: dashed;
    }
}

.box {
    @include sexy-border(4px);
}

